/* body */
html {
    height: 100%;
}
    
    
body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/Image/cloudsmall.jpg);
    
    text-align: center;
}

.airplane {
    max-width:100%;
    margin: 0 auto;
}

.baloon {
    position: fixed;
    max-width: 20%;
}

.baloon1 {
    width: 150px;
    left: 15%;
    bottom: 20%;
}
.baloon2 {
    width: 180px;
    left: 45%;
    bottom: 0;
}
.baloon3 {
    width: 160px;
    left: 75%;
    bottom: 25%;
}


/* headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Poller One', serif;
    margin-bottom: 45px;
    text-align: center;
}

h1.title {
    margin: 0px;
    font-size: 50px;
}

