/* body */
html {
    height: 100%;
}
    
    
body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/Image/cloudsmall.jpg);
    
    text-align: center;
}

/* inages */
.airplane {
    max-width: 80%;
    margin: 0 auto;
}

.baloon {
    position: fixed;
    max-width: 20%;
}

.baloon1 {
    width: 170px;
    left: 15%;
    bottom: 17%;
}
.baloon2 {
    width: 180px;
    left: 45%;
    bottom: 0;
}
.baloon3 {
    width: 150px;
    left: 75%;
    bottom: 12%;
}


/* headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Poller One', serif;
    margin-bottom: 45px;
    text-align: center;
}

h1.title {
    margin: 0 auto;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* baloon writing */
.image { 
   position: relative; 
   width: 100%;
}

h2 { 
    position: absolute; 
    top: 17%;
    color: navy;
    font-family: 'Rye', serif;
}

.baloon1 {
    font-size: 23px;
}
.baloon2 {
    font-size: 27px;
}
.baloon3 {
    font-size: 18px;
}
