body {
	font-family: "Raleway", sans-serif;
	color: #333;
}

a {
	color: #666;
}

.content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.about {
	width: 100%;
	height: 70px;
	margin: 10px 0 20px;
}

.about .image {
	height: 100%;
	width: 70px;
	float: left;
	margin-right: 20px;
	background-repeat: none;
	background-position: center center;
	background-size: cover;
	border: 1px solid #666;
}

.about .links {
	float: right;
	margin-left: 20px;
}

.about .links a {
	display: block;
	width: 100%;
	text-align: center;
}

.about .content {
	padding-top: 20px;
}

.category {
	width: 50%;
	float: left;
}

.category > * {
	margin: 0 10px;
}

.category .header {
	text-align: center;
	background-repeat: none;
	background-position: center center;
	background-size: cover;
}

.category .header h3 {
	padding-top: 50px;
	padding-bottom: 10px;
}

.category .description {
	text-align: center;
}

.category-header {
	border: 1px solid #666;
	text-align: right;
	padding-top: 150px;
	background-repeat: none;
	background-position: center center;
	background-size: cover;
}

.category-header h3,
.category-header .description {
	margin: 10px 20px 10px 0;
}

.category-page .post {
	width: 30%;
	margin-right: 3%;
	float: left;
}

.post {
	border: 1px solid #666;
	margin-top: 20px;
}

.post .image {
	background-repeat: none;
	background-position: center center;
	background-size: cover;
	height: 200px;
	border-bottom: 1px solid #666;
}

.post .title h4 {
	margin: 10px;
}

.post .title a {
	text-decoration: none;
	color: #333;
}

.post-content .image {
	max-width: 50%;
	float: left;
	margin: 0 20px 20px 0;
}

.post-content .image.right {
	float: right;
	margin: 0 0 20px 20px;
}

.footer {
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
}

.footer .copyright {
	font-style: italic;
	float: left;
}

.footer .links {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */