---
layout: page
---

{% for category_hash in site.data.categories %}
	{% if category_hash[0] == page.id %}
		{% assign category = category_hash[1] %}
		<div class="category-header" style="background-image: url({{ category.image }})">
			<h3>{{ category.name }}</h3>
			<div class="description">{{ category.description }}</div>
		</div>
	{% endif %}
{% endfor %}

<div class="category-page clearfix">
{% for category in site.categories %}
	{% if category[0] == page.id %}
		{% for posts in category %}
			{% for post in posts %}
				{% if post.title %}
					{% include post.html %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}
{% endfor %}
</div>